html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  line-height: 1.3;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h2 {
  font-size: 1.6625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 0.7475rem;
  color: #242d52;
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.1rem;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__button,
.hero__button,
.reviews__button {
  padding: 1.125rem 2.0625rem;
  background: #f25f3a;
  border-radius: 40px;
  -webkit-box-shadow: 0 8px 6px -6px #ffa18a;
          box-shadow: 0 8px 6px -6px #ffa18a;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__button a,
.hero__button a,
.reviews__button a {
  color: white;
  font-weight: 700;
  font-size: 0.9375rem;
  display: block;
  text-align: center;
}

.header__button:hover,
.hero__button:hover,
.reviews__button:hover {
  opacity: 0.75;
}

.banner__button {
  padding: 1.125rem 2.0625rem;
  background: white;
  border-radius: 40px;
  -webkit-box-shadow: 0 8px 6px -6px #ffa18a;
          box-shadow: 0 8px 6px -6px #ffa18a;
  width: 50%;
  margin: 2rem auto 0rem;
}

.banner__button a {
  color: #f25f3a;
  font-weight: 700;
  font-size: 0.9375rem;
  display: block;
  text-align: center;
}

.container {
  max-width: 1220px;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(to bottom, #000, transparent);
  z-index: 8;
  opacity: 0;
  pointer-events: none;
}

.burger__menu {
  position: absolute;
  top: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
  background: #fff;
  padding: 2.75rem 8.25rem;
  text-align: center;
  border-radius: 0.625rem;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: none;
}

.burger__menu a {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.burger__menu li:not(:last-child) {
  margin-bottom: 1.9rem;
}

.burger__menu.open {
  display: block;
  pointer-events: all;
}

.header {
  padding: 2.5rem 1.3125rem;
}

.header__logo {
  cursor: pointer;
}

.header__links li {
  margin-right: 1.9375rem;
}

.header__links li a {
  color: #1d1e25;
  font-size: 0.875rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__links li a:hover {
  opacity: 0.6;
}

.header__toggle .line {
  width: 30px;
  height: 3px;
  background: #1d1e25;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__toggle .line:not(:last-child) {
  margin-bottom: 4px;
}

.header__toggle.open {
  z-index: 99;
}

.header__toggle.open .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  background-color: #fff;
}

.header__toggle.open .line2 {
  display: none;
}

.header__toggle.open .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 11px 8px;
          transform-origin: 11px 8px;
  background-color: #fff;
}

.hero {
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: -30%;
  right: 0;
  width: 20.625rem;
  height: 90%;
  background-image: url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: bottom top;
  background-size: 170%;
  z-index: -2;
}

@media (min-width: 40em) {
  .hero::before {
    width: 50.625rem;
    top: -45%;
    right: -30%;
    height: 180%;
    background-position: top center;
    background-size: 110%;
  }
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -30%;
  right: -10%;
  width: 13.5rem;
  height: 70%;
  background-image: url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: bottom top;
  background-size: 150%;
  z-index: -2;
}

@media (min-width: 40em) {
  .hero::after {
    bottom: -100%;
    right: 100%;
    width: 37.5rem;
    height: 140%;
    background-position: bottom center;
    background-size: 100%;
  }
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.8125rem;
    height: 700px;
  }
}

.hero__img {
  height: 18rem;
  width: 320px;
  background-image: url("../images/illustration-intro.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.3rem auto;
}

@media (min-width: 40em) {
  .hero__img {
    height: 25rem;
    width: 500px;
  }
}

@media (min-width: 64em) {
  .hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
  }
}

.hero__text {
  margin-top: 2rem;
  padding: 1.5rem 1.6rem 3.3125rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    max-width: 500px;
    margin-right: 5.4375rem;
  }
}

.hero__text h1 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #242d52;
  line-height: 1.4;
  letter-spacing: -1px;
}

@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 2.8375rem;
  }
}

.hero__text p {
  margin-bottom: 1.5625rem;
  line-height: 1.7;
  color: #9095a7;
}

@media (min-width: 64em) {
  .hero__text p {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 2.5625rem;
  }
}

.hero__button {
  width: 60%;
  margin: auto;
}

@media (min-width: 64em) {
  .hero__button {
    margin: 0;
    width: 45%;
  }
}

@media (min-width: 64em) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__head {
  padding: 1.5rem 1.6rem 3.3125rem;
  text-align: center;
  padding-bottom: 2.375rem;
}

@media (min-width: 64em) {
  .features__head {
    text-align: left;
    margin-right: 8.5625rem;
  }
}

.features__head h2 {
  width: 90%;
  margin: auto;
  line-height: 1.7;
  color: #242d52;
  margin-bottom: 1.9375rem;
}

.features__head p {
  font-size: 0.8125rem;
  color: #9095a7;
  line-height: 2;
  margin: auto;
  width: 90%;
}

@media (min-width: 64em) {
  .features__head p {
    font-size: 1rem;
  }
}

.features__grid {
  padding: 1rem;
}

.features__card {
  margin-bottom: 3.125rem;
}

.features__card h3 {
  background: #fcd4ca;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
}

@media (min-width: 64em) {
  .features__card h3 {
    background: none;
  }
}

.features__card h3 span {
  color: white;
  margin-right: 0.5rem;
  background: #f25f3a;
  padding: 0.75rem 1.225rem;
  border-radius: 1.875rem;
}

@media (min-width: 64em) {
  .features__card h3 span {
    margin-right: 2rem;
  }
}

.features__card p {
  font-size: 0.8125rem;
  color: #9095a7;
  line-height: 2;
  margin-right: 1rem;
}

@media (min-width: 64em) {
  .features__card p {
    font-size: 0.9rem;
    margin-left: 7.125rem;
  }
}

.reviews {
  padding: 0 1rem;
}

@media (min-width: 40em) {
  .reviews {
    padding: 1.5rem 1.6rem 3.3125rem;
  }
}

.reviews__head {
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .reviews__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
}

.reviews__content .review-2,
.reviews__content .review-3,
.reviews__content .review-4 {
  display: none;
}

@media (min-width: 64em) {
  .reviews__content .review-2,
  .reviews__content .review-3,
  .reviews__content .review-4 {
    display: block;
  }
}

.reviews .dots {
  margin-top: 1.1625rem;
}

@media (min-width: 64em) {
  .reviews .dots {
    margin-top: 3rem;
  }
}

.reviews .dots .dot {
  width: 9px;
  border-radius: 50%;
  height: 9px;
  border: 1px solid #f25f3a;
  margin: 1rem;
  cursor: pointer;
}

.reviews .dots .dot.active {
  background: #f25f3a;
}

.reviews__card {
  text-align: center;
  background: repeating-linear-gradient(white, white 15.9%, #fafafa 16.1%, #fafafa 100%);
  padding: 1rem;
}

@media (min-width: 64em) {
  .reviews__card {
    width: 550px;
    margin-right: 2rem;
  }
}

.reviews__card img,
.reviews__card h3,
.reviews__card p {
  margin-bottom: 1.5625rem;
}

.reviews__card img {
  width: 4.6875rem;
}

.reviews__card h3 {
  font-size: 1.1rem;
  letter-spacing: -0.9px;
}

.reviews__card p {
  color: #9095a7;
  font-size: 0.875rem;
  line-height: 1.9;
}

.reviews__button {
  width: 70%;
  margin: 3rem auto 3rem;
}

@media (min-width: 64em) {
  .reviews__button {
    width: 10%;
  }
}

#banner {
  background: #f25f3a;
}

.banner {
  padding: 6.375rem 2.125rem;
  position: relative;
}

@media (min-width: 64em) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.banner h2 {
  color: white;
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
}

@media (min-width: 64em) {
  .banner h2 {
    font-size: 3rem;
    width: 50%;
    text-align: left;
  }
}

@media (min-width: 64em) {
  .banner__button {
    width: 15%;
    margin: 0;
  }
}

.banner__button:hover {
  opacity: 0.8;
}

.banner::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  top: 5rem;
  left: -420px;
  background-image: url("/images/bg-tablet-pattern.svg");
  opacity: 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  background: #1d1e25;
}

.contact {
  padding: 3.0625rem 1.375rem;
}

@media (min-width: 64em) {
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px))[4];
        grid-template-columns: repeat(4, minmax(400px));
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.contact__form {
  text-align: center;
}

@media (min-width: 64em) {
  .contact__form {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    text-align: right;
  }
}

.contact__form .input {
  width: 70%;
  padding: 1rem 1.4375rem;
  border-radius: 30px;
  border: none;
}

.contact__form button {
  padding: 0.8125rem 1.9375rem;
  border-radius: 35px;
  border: none;
  font-size: 1rem;
  color: white;
  background: #f25f3a;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.contact__form button:hover {
  opacity: 0.75;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.6875rem;
  padding-bottom: 3.0625rem;
}

@media (min-width: 64em) {
  .contact__links {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.contact__links ul {
  padding-left: 0;
}

.contact__links li {
  line-height: 1.8;
}

.contact__links a {
  color: white;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.contact__links a:hover {
  color: #f25f3a;
}

.contact__icons {
  text-align: center;
  margin-bottom: 3.125rem;
}

@media (min-width: 64em) {
  .contact__icons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    text-align: left;
  }
}

.contact__icons span:not(:last-child) {
  margin-right: 1.3rem;
}

.contact__icons i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (min-width: 64em) {
  .contact__icons i {
    font-size: 1.4rem;
    margin-right: 0.4rem;
  }
}

.contact__icons i:hover {
  color: #f25f3a;
}

.contact__logo {
  text-align: center;
  margin-bottom: 3.375rem;
}

@media (min-width: 64em) {
  .contact__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
    text-align: left;
  }
}

.contact p {
  color: #9095a7;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 64em) {
  .contact p {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    text-align: right;
  }
}
/*# sourceMappingURL=styles.css.map */